NSObjectInterStruct/NSObjectInterStruct.xcodeproj/project.xcworkspace/xcuserdata/honey.xcuserdatad/UserInterfaceState.xcuserstate
NSObjectInterStruct/NSObjectInterStruct.xcodeproj/xcuserdata/honey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NSObjectInterStruct/NSObjectInterStruct.xcodeproj/xcuserdata/honey.xcuserdatad/xcschemes/xcschememanagement.plist
